<footer class="page-footer font-small indigo">
  <div class="container-fluid mt-2">
    <hr class="rgba-white-light" style="font-size:small;">
    <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">
      <div class="col-md-8 col-12 mt-1">
        <p style="line-height: 1.1 rem"> Feel free to sign in and post coding blogs here!</p>
        <h6 style="line-height:1.1 rem"> Connect with us on, </h2>
      </div>
    </div>
    <hr class="clearfix d-md-none rgba-white-light" style="margin:0;">
    <div class="row pb-3">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class=" d-flex justify-content-evenly ">
          <!-- Facebook -->
          <a class="fb-ic">
            <i class="fab fa-facebook-f fa-lg white-text mr-4"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <i class="fab fa-twitter fa-lg white-text mr-4"> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <i class="fab fa-google-plus-g fa-lg white-text mr-4"></i>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <i class="fab fa-linkedin-in fa-lg white-text mr-4"></i>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <i class="fab fa-instagram fa-lg white-text mr-4"></i>
          </a>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
  <!-- Copyright -->
  <div class="footer-copyright text-center py-0">© 2022 Copyright:
    <a href="https://mdbootstrap.com/"> CosBett </a>
  </div>
  <!-- Copyright -->
</footer>